:root {
  --main-background: #111111;
  --main-text: #51f029;
  --dark-grey: #5c5c5c;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--main-background);
  color: var(--main-text);
}

.container {
  margin: 0 auto;
}

.text-display {
  padding: 30px 10px 10px 10px;
  height: 500px;
}

.user-text-input,
.user-text-submit {
  background-color: var(--main-background);
  border-top: 2px solid var(--dark-grey);
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.user-text-input {
  color: var(--main-text);
  width: 85%;
}

::placeholder {
  color: var(--dark-grey);
}

.user-text-submit {
  font-weight: 600;
  color: var(--dark-grey);
}
